@import "variable.scss";

html , body {
  min-height: 100vh;
  background: $body-background;
}

.view-height {
  height: calc(100vh - 59px);
}

.full-height {
  height: 100%;
}

.nav-container {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  .app-heading {
    margin: 0;
    color: $heading-text-color;
  }
  .user-info {
    color: $heading-text-color;
  }
}

.left-nav {
  height: 100%;
  margin-left: -15px;
  .left-nav-playlist {
    background: $white-color;
    height: 100%;
    margin-bottom: 0;
  }
}

.main-view {
  height: 100%;
  .add-playlist-btn {
    float: right;
  }
}