@import "variable";

html , body {
  font-family: Roboto;
  min-height: 100vh;
  background: $body-background;
}

input[type="text"], input[type="number"] {
  padding: 9px;
  width: 100%;
  margin: 3px 0;
  border: 1px solid $border-color;
  border-radius: 3px;
  border-style: double;
}

.view-height {
  height: calc(100vh - 102px);
  padding-top: 14px;
  padding-bottom: 14px;
}

.full-height {
  height: 100%;
}

.nav-container {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  min-height: 58px;
  background: $white-color;
  box-shadow: 0px 3px 7px 0px $border-color;
  border-radius: 0;
  z-index: 10;
  border-color: $white-color;
  .app-heading {
    margin: 0;
    color: $heading-text-color;
  }
  .user-info {
    color: $heading-text-color;
  }
}

.left-nav {
  height: 100%;
  .title-div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: $white-color;
    span {
      font-size: 22px;
    }
  }
  .left-nav-playlist {
    height: 100%;
    margin-bottom: 0;
    background: $white-color;
  }
}

.main-view {
  height: 100%;
  .add-playlist-btn {
    float: right;
  }
  .video-player {
    min-width: 250px;
    min-height: 250px;
  }
}

.notification {
  width: 288px;
  margin-left: 37px;
  color: $n-text-color;
  font-size: 0.9em;
  .note {
    font-size: 12px;
    font-style: italic;
    color: $question-color;
    font-weight: bold;
  }
}

.n-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .dollar-input {
    position: absolute;
    font-size: 17px;
    padding: 10px 5px;
  }
  > input[type='number'] {
    width: 50%;
    margin: 0;
    padding: 14px;
    padding-left: 17px;
    font-weight: bold;
  }

  > .pay-btn {
    width: 50%;
    margin: 0;
    margin-left: 15px;
  }
}

.inner-container {
  border: 1px solid $border-color;
  padding: 15px;
  background-color: $white-color;
}

.progress-bar-div {
  height: 10px;
  width: 100%;
  border: 1px solid $border-color;
  overflow: hidden;
  .progress-bar-val {
    background-color: $red-color;
    height: 10px;
  }
}


.warning {
  color: $red-color;
}
